@import "tailwindcss";

@theme inline {

  /* Paleta de colores */
  --color-primary: #0f0f0f;
  --color-secondary: #FFFFFF;
  --color-tertiary: #00bb01;
  --color-anotherbg: #171717;
  /* --color-tertiary: #272727; */
  --color-complementary: #141414;

  /* Texto */
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #0f0f0f;
  --color-text-tertiary: #00bb01;
  --color-text-complementary: #F5F5F5;
  /* --color-text-complementary: #9b9c9f; */

  --color-border: #272727;

  /* Estados */
  --color-success: #48B8AB;
  --color-info: #28A6DF;
  --color-warning: #fbbf24;
  --color-danger: #ef4444;
  
}

/* globals.css */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
